# Importar bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Importar e visualizar dados

In [4]:
train = pd.read_csv('TP2_AEC_2019/train_data.csv')
train.head(10)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absent
0,1,26,7,3,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,1
1,2,0,7,3,1,118,13,18,50,"239,554",...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,1
3,4,7,7,5,1,279,5,14,39,"239,554",...,0,1,2,1,1,0,68,168,24,1
4,5,23,7,5,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,1
5,6,23,7,6,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,1
6,7,22,7,6,1,361,52,3,28,"239,554",...,0,1,1,1,0,4,80,172,27,1
7,8,23,7,6,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,1
8,9,19,7,2,1,155,12,14,34,"239,554",...,0,1,2,1,0,0,95,196,25,1
9,10,22,7,2,1,235,11,14,37,"239,554",...,0,3,1,0,0,1,88,172,29,1